@import '../../styles/variables';

.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
}

.posts{
    max-width: 720px;
    margin: 5rem auto;

    a{
        display: block;

        & + a{
            margin-top: 2rem;
            padding-top: 2rem;
        }

        time{
            font-size: 1rem;
            display: flex;
            align-items: center;
            color: $text-color;
        }

        img{
            max-width: 100%;
            max-height: 410px;
            border: 2px solid $cta-color;
            border-radius: 6px;
            border-image: linear-gradient(95deg, $cta-color) 1;
        }

        strong{
            display: block;
            font-size: 1.5rem;
            margin: 1rem 0;
            line-height: 2rem;
            color: $text-color;
            transition: color 0.3s;
        }

        p{
            color: $text-color;
            margin-top: 0.5rem;
            line-height: 1.62rem;
        }

        &:hover strong{
            color: $cta-color;
        }
    }
    
}

.buttonNavigate{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    div{
        display: flex;
        flex-direction: row;
    }

    button{
        margin: 0 5px;
        border: 0;
        background: $cta-color;
        display: flex;
        padding: 0.5rem;
        border-radius: 5px;

        svg{
            padding: 0 3px;
        }
    }
}